doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/css/ext.custom.css')
    script(type='text/javascript', src='/javascripts/lib/ext/ext-all-dev.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
    script(type='text/javascript', src='/javascripts/app/app.js')
  body
    block content